@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Models

<!-- brands-->
<section class="brands-section">
    <div class="container">
     
        @{
            var brandImages = Model.Value<IEnumerable<MediaWithCrops>>("brandImages");
            foreach (var entry in brandImages)
            {
                <img src="@entry.MediaUrl()" alt="" />
            }
        }
       
    </div>
</section>