@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedUrlProvider PublishedUrlProvider


@{ var selection = Model.Ancestors().ToArray(); }


@if (selection?.Length > 0)
{
    <section class="pages-breadcrumb">
        <div class="container">
            <div class="breadcrumb">
                @foreach (var item in selection.OrderBy(x => x.Level))
                {
                    <a href="@item.Url(PublishedUrlProvider)">@item.Name</a>
                }
                
                <span>@Model.Name</span>
            </div>
            <h2>@Model.Value("pageTitle")</h2>
        </div>
    </section>
}