@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<footer>
    <section class="footer-section">
        <img class="background-lines-white-right" src="/images/Background/background-lines-white-right.svg" alt="">
        <div class="container">
            <div class="logo">
                <img src="/images/Logos/logotype-white.svg" alt="">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat obcaecati voluptas voluptates! Voluptates laborum nam ratione minus necessitatibus, iure praesentium.</p>
            </div>
            <div>
                <h5>Company</h5>
                <ul>
                    <li><a  href="#">About</a></li>
                    <li><a  href="#">Features</a></li>
                    <li><a  href="#">Works</a></li>
                    <li><a  href="#">Career</a></li>
                </ul>
            </div>
            <div>
                <h5>Help</h5>
                <ul>
                    <li><a  href="#">Customer Support</a></li>
                    <li><a  href="#">Delivery Details</a></li>
                    <li><a  href="#">Terms & Conditions</a></li>
                    <li><a  href="#">Privacy Policy</a></li>
                </ul>
            </div>
            <div>
                <h5>Rescources</h5>
                <ul>
                    <li><a  href="#">Free eBooks</a></li>
                    <li><a  href="#">Development Tutorial</a></li>
                    <li><a  href="#">How to - Blog</a></li>
                    <li><a  href="#">Youtube Playlist</a></li>
                </ul>
            </div>
            <div>
                <h5>Links</h5>
                <ul>
                    <li><a  href="#">Free eBooks</a></li>
                    <li><a  href="#">Development Tutorial</a></li>
                    <li><a  href="#">How to - Blog</a></li>
                    <li><a  href="#">Youtube Playlist</a></li>
                </ul>
            </div>
        </div>
    </section>
    <section class="copyright-section">
        <div class="container">
            <div>© 2023 Crito - Consulting Company Inc. All Rights Reserved.</div>
            <div class="social-media">
            <a href="https://facebook.com"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://twitter.com"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://instagram.com"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://linkedin.com"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        </div>
    </section>
</footer>