@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<Umbraco.Cms.Core.Models.Blocks.BlockListItem>;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    var content = (ContentModels.ServiceFeatures)Model.Content;
}
<div class="feature-box">
    <i class="@content.Value("servicefeatureIcon")"></i>
    <h4>@content.Value("servicefeatureTitle")</h4>
    <p>@content.Value("servicefeatureDescription")</p>
</div>